*{
    box-sizing: border-box;
    font-family: "Glegoo", serif;
        font-style: normal;
    
}



.body{
    margin: 0;
    }


/* ACA EMPIEZA el componente HEADER */
.header{
    background-color: aqua;
   
    
}

.menu{
    background-color: #f2f2f2;
    height: 151px;
    margin-bottom: 15px;
    
}

.logo{
    background-color: #f2f2f2;
    
    text-align: center;
    
}

.logo img{
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    
    width: 128px;
    height: 122px;
    
    
}

.nav{
background-color: #f2f2f2;
text-align: center;
color: #000;
height: 29px;
}

.nav a{
    color: #000;
    text-decoration: none;
}

/* Estilos para el botón de hamburguesa */
.hamburger-menu {
    display: none; /* Ocultar en dispositivos de pantalla grande */
    cursor: pointer;
    padding: 15px;
}

.hamburger-icon {
    width: 35px;
    height: 3px;
    background-color: #000; /* Color del icono de hamburguesa */
    margin: 10px 0px;
}

/* Estilos para las líneas adicionales */
.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: #000; /* Color del icono de hamburguesa */
    margin: 1px 0;
}

/* Alineación de las líneas adicionales */
.hamburger-icon::before {
    transform: translateY(-8px);
}

.hamburger-icon::after {
    transform: translateY(5px);
}

    /* Estilos para la navegación MOBILE DEL COMPONENTE HEADER BREAK POINT */ 
    @media screen and (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-between;
        height: 100px;
        
    }

     /* Mostrar el botón de hamburguesa en dispositivos móviles */
     .hamburger-menu {
        display: block;
        align-content: center;
        padding: 15px;
        position: relative; /* Necesario para los pseudo-elementos */
    }

    

    /* Estilo para mostrar el menú al hacer clic en el botón de hamburguesa */
    .nav.active {
        display: block;
    }

    .logo{
        align-content: center;
    }
    .logo img{
        /* display: block; */
        /* margin-left: auto;
        margin-right: auto; */
        
        width: 70px;
        height: 70px;
        
        
        
    }

    .nav {
        display: none; /* Ocultar por defecto en dispositivos móviles */
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2; /* Color de fondo del menú móvil */
        width: 100%;
        height: max-content;
        position: absolute;
        top: 100px; /* Ajusta según la altura del header */
        left: 0;
        padding-top: 20px;
        border-top: 1px solid #ccc;
    }

    .nav a {
        
        color: #000;
        text-decoration: none;
        padding: 10px;
        margin: 5px;
        display: block; /* Ajuste para hacer cada enlace una línea separada */
    }

   
    
}
/* ACA EMPIEZA el componente MAIN */
.main-text{
    
    background-color: #2bc0ae;
    color: #f5f5f5;
    text-align: center;
    font-size: 1rem;

}

.slogan-1{
padding: 30px 0;
margin: 0;
}


    /* Estilos para la navegación tablet DEL COMPONENTE main BREAK POINT */
        @media screen and (max-width: 1024px) { 
            .main-text{ 
                
                background-color: #7801C9;
                padding: 0 100px;
            }
    
            }
    /* Estilos para la navegación MOBILE DEL COMPONENTE main BREAK POINT */
    @media screen and (max-width: 768px) { 
        
            .main-text{ 
                background-color: #FFCD01; 
                padding: 0;
                font-size: 0.7rem;
            }
  
    }   
   
    


/* styles para el formulario */

.formulario{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #F2F2F2;
}
.div-form {
    width: 50%;
    
    padding: 20px;
    /* display: flex; */
    /* justify-content: center; */
    
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



  
  
  input[type=submit] {
    /* width: 100%; */
    background-color: #7801C9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #FFCD01;
   
}
  
 

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none; /* saca el resizing de costado que viene por defecto */
}

    input[type=radio] {
    width: 10%;
    color: #2bc0ae;
    font-size: 30px;
    }

    .input-optional{
        margin-bottom: 20px;
    }
    .input-optional p{display: inline-block;}

    .error-message{
        display: block;
        color: red;
    
}
/* styles para contendor de contacto y iframe */

  .contacto-title {
    color: #7801C9;
}

.container-contacto-iframe {
    display: flex;
    justify-content: center;
    
    
 
}
.contacto { 
    flex: 1 1 50%;
    /* width:  37rem;
    height: 28rem; */
    /* display: inline-block; */
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
   
    
}

.container-iframe {
    /* display: inline-block; */
    flex: 1 1 50%;
    text-align: center;
    padding: 65px;
}

iframe{
    max-width: 100%;
    
}

    /* Estilos para la navegación tablet DEL modulo section 2 BREAK POINT */
    @media screen and (max-width: 1024px) {
        .div-form {width: 100%;
    }

    iframe{ height: 30vh}
}

    /* Estilos para la navegación mobile DEL modulo section 2  BREAK POINT */
@media screen and (max-width: 768px) {
    .container-contacto-iframe {
        flex-direction: column;
        
        
     
    }}
/* --------- */ 

        
/* ACA EMPIEZA el componente FOOTER */

.footer-main-container{
    background-color: #e7f5f3;
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    
    }
.footer-nutrinatura-container {
    
    display: flex;
    flex: 1 1 25%;
    justify-content: center;
    /* align-items: center; */
}

.footer-nutrinatura {
    text-align: center;
    
}
.footer-container-4col{
    display: flex;
    width: 100%;
    
    
}


.footer-nosotros,.footer-productos,.footer-contacto,.footer-redes{
    
    flex: 1 1 25%;
    text-align: center;
}


.footer-nosotros a,.footer-productos a{
    display: block;
    
}


.footer-contacto p{
    margin: 0;
}
.footer-redes-icons{
    text-align: center;
}
.footer-copy{
    align-self: flex-end;
    background-color: #7801C9;
    color: #f5f5f5;
    text-align: center;
    font-size: 1rem;
    padding: 0.5px;
}


    /* Estilos para la navegación TABLET DEL COMPONENTE fOOTER */ 

    @media screen and (max-width: 1024PX) {
    .footer-main-container{
            flex-direction: column;
        }
    

       
        
}
/* Estilos para la navegación MOBILE DEL COMPONENTE fOOTER */ 

    @media screen and (max-width: 768px) {

        .footer-container-4col{
            flex-direction: column;
        }
        
    }
   